<mat-card class="container">
    <h2>list</h2>
    <mat-form-field appearance="outline" class="max-100">
        <mat-label>User Name</mat-label>
        <input matInput [(ngModel)]="search" (input)="onSearch()">
    </mat-form-field>


    <mat-list role="list">
        <mat-list-item *ngFor=" let user of userList ,let i=index" role="listitem">
            <span matListItemIcon class="mat-list-icon-span">{{i+1}}</span>
            <div class="list">
                <div class="list-details">
                    <span *ngIf="!user.isEditable">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</span>
                    <span class="sub-details" *ngIf="!user.isEditable">{{user.username}}</span>
                    <app-list-form *ngIf="user.isEditable" mat-line [user]="user" (newCancelEvent)="cancel()" (newSubmitEvent)="submit($event ,user.id ,user)" class="user-form"></app-list-form>
                </div>
                <span *ngIf=" !user.isEditable" class="button-icon">
                    <button mat-icon-button (click)="edit(user)" *ngIf="adminToken">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="details(user)">
                        <mat-icon color="primary">remove_red_eye</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delete(user)" *ngIf="adminToken">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </span>
            </div>
        </mat-list-item>
    </mat-list>

</mat-card>