
.mat-list-icon-span{background-color: #3f51b5 ; color:#Fff;display: flex;align-items: center;justify-content: center;}
.list{display: flex;align-items: center;justify-content: space-between;}
.list-details{display: flex;flex-direction: column;}
.sub-details{ font-size: 14px;  }
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {height: 50%;}               
.button-icon{display: flex;}
h2{text-align: center;}