<mat-drawer-container class="example-container " autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" color="primary">
        <mat-sidenav-container class="side-list">
            <mat-nav-list><a routerLink="user" class="link" routerLinkActive="active">user</a></mat-nav-list>
            <mat-nav-list><a routerLink="list" class="link" routerLinkActive="active">List</a></mat-nav-list>
            <mat-nav-list><a routerLink="categories" class="link" routerLinkActive="active">categories</a></mat-nav-list>
            <mat-nav-list><a routerLink="image" class="link" routerLinkActive="active">image</a></mat-nav-list>
            <mat-nav-list><a routerLink="product" class="link" routerLinkActive="active">product</a></mat-nav-list>
        </mat-sidenav-container>
    </mat-drawer>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-drawer-container>