<mat-drawer-container class="example-container " autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" color="primary">
        <mat-sidenav-container class="side-list">
            <mat-nav-list><a routerLink="user" class="link" routerLinkActive="active" *ngIf="routeShow">user</a></mat-nav-list>
            <mat-nav-list><a routerLink="list" class="link" routerLinkActive="active">List</a></mat-nav-list>
            <mat-nav-list><a routerLink="categories" class="link" routerLinkActive="active">categories</a></mat-nav-list>
            <mat-nav-list><a routerLink="image" class="link" routerLinkActive="active">image</a></mat-nav-list>
            <mat-nav-list><a routerLink="product" class="link" routerLinkActive="active">product</a></mat-nav-list>
        </mat-sidenav-container>
    </mat-drawer>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="profile" aria-label="Example icon-button with a menu">
            {{user.username}}<mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button> -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
        </mat-menu>
        <mat-menu #profile="matMenu">
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-drawer-container>