/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//all component style
.container{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}
.example-container {
    height: 100%;
}
//form
.max-100{
    width: 100%;
}
.form-button{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.edit-form-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.title-account{
    width: 100%;
    text-align: center;
}

//snack bar
.error.mat-snack-bar-container{background: #cc0000;color:#ffffff ;}
.success.mat-snack-bar-container{background: rgb(0, 184, 0);color:#ffffff ;}
.info.mat-snack-bar-container{background: #fff265;color:#000000 ;}
.mat-simple-snackbar-action button {color: #fff;}
//side
.example-sidenav{
    width: 280px;
    background: hsl(236, 78%, 61%);
}
.example-sidenav .mat-drawer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(236, 78%, 61%);
    color: #FFF;
}