<div class="list-dialog">
    <div class="list">
        <span>FirstName</span>
        <span>{{user.firstName}}</span>
    </div>
    <div class="list">
        <span>LastName</span>
        <span>{{user.lastName}}</span>
    </div>
    <div class="list">
        <span>Name</span>
        <span>{{user.username}}</span>
    </div>
    <div class="list">
        <span>Type</span>
        <span>{{user.type}}</span>
    </div>

</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>